<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.6.0/Chart.min.js"></script>
<div class="container-fluid h-100">
  <div class="row h-100">
    <!-- left sidebar -->
    <div class="col-md-2 fixed pl-0 py-3 bg-light">
      <div class="sidebar bg-light p-2">
        <div class="page-wrapper bg-gra-01 p-t-180 p-b-100 font-poppins">
          <div class="wrapper wrapper--w780">
            <div class="card card-3">
              <div class="card-heading"></div>
              <div class="card-body">
                <h2 class="title">Search Filter</h2>
                <div class="booking-form">
                  <form>
                    <div class="form-group row">
                      <label for="name" class="col-12 col-form-label">Subject Name</label>
                      <div class="col-sm-12">
                        <select id="name" class="form-control">
                          <% for (var i = 0; i < subject.length; i++) { %>
                            <option><%= subject[i].name %>/<%= subject[i].id%></option>
                          <% } %>
                        </select>
                      </div>
                      <span class="select-arrow"></span>
                    </div>
                    <div class="form-group row">
                      <label for="start" class="col-4 col-form-label">Start</label>
                      <div class="col-sm-12">
                        <input class="form-control" type="date" name="start" id ="start" required>
                      </div>
                    </div>
                    <div class="form-group row">
                      <label for="end" class="col-4 col-form-label">End</label>
                      <div class="col-sm-12">
                        <input class="form-control" type="date" name="end" id ="end" required>
                      </div>
                    </div>
                    <div class="form form-group row">
                      <label for="type" class="col-8 col-form-label">Search by</label>
                      <div class="col-sm-12">
                        <select id="type" class="form-control" type="text" name="type">
                          <option>Lessons</option>
                          <option>Students</option>
                        </select>
                        <span class="select-arrow"></span>
                      </div>
                    </div>
                    <div class="form-btn">
                      <input type="button" value="Search" id="submit" onclick="SendAjax();">
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div><!-- cd-filter -->
    </div>
    <!-- center content -->
    <div class="col fluid d-flex flex-column p-0">

      <!-- main content -->
      <div class="flex-grow">
        <div class="col-12 py-4">
          <table class="table table-hover">
            <thead>
            <tr>
              <th>Name</th><th>surname</th><th>present</th><th>total</th><th>percent</th>
            </tr>
            </thead>
            <tbody>
            <% for (var j = 0; j < data.length; j++) { %>
              <%if (data[j].percent > 70){ %>
            <tr bgcolor="#67F74C">
              <% } else if (data[j].percent >= 50) { %>
            <tr bgcolor="#F7F74C">
              <% } else{ %>
            <tr bgcolor="#F64B4B">
                <% }%>
              <td><%= data[j].fName %></td>
              <td><%= data[j].lName %></td>
              <td><%= data[j].present%>
              <td><%= data[j].total%>
              <td><%= Math.round(data[j].percent * 100) / 100%>
              <% } %>
            </tr>
            </tbody>
          </table>
          <!-- /main content -->
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  function SendAjax() {
    let name = $("#name").val();
    let start = $("#start").val();
    let end = $("#end").val();
    let type = $("#type").val();

    if(start.length < 1 || end.length < 1){
      alert("Start and end dates must be selected!");
      return
    }
    var names = name.split("/")
    console.log("My search: " +"  "+ names[0] + "ID: "+names[1] +"  "+ start + end +"  "+ type)

    window.location.href = '/statistics/home/'+type.toLowerCase()+'?id='+names[1]+"&start="+start+"&end="+end;
  }


</script>
