<table class="table table-hover">
  <tread>
  <tr>
    <th>Name</th><th>Lecturer ID</th><th>ID</th>
  </tr>
  </tread>
  <tbody>
  <% for (var i = 0; i < subject.length; i++) { %>
    <tr>

      <td><%= subject[i].subjectName %></td>
      <td><%= subject[i].lecturer %></td>
      <td><%= subject[i].id %></td>
      <td><button type="button" class="btn btn-primary" onclick="location.href='/lesson?id=<%= subject[i].id %>'">View More</button></td>
    </tr>
  <% } %>
  </tbody>
</table>

<%- /* Expose locals as `window.SAILS_LOCALS` :: */ exposeLocalsToBrowser() %>
