
<link rel="stylesheet" href="/dependencies/bootstrap-4/bootstrap-4.css">
<link rel="stylesheet" href="/styles/importer.css">
<link rel="stylesheet" href="/dependencies/font-awesome-4/css/font-awesome.css">
<!--===============================================================================================-->

<div id="subject">
<div class="limiter">
  <div class="container-table100">
    <div class="wrap-table100">
<div class="table100 ver3 m-b-110">
  <div class="table100-head">
    <table>
      <thead>
      <tr class="row100 head">
        <th class="cell100 column1">Subject name</th>
        <th class="cell100 column2">Lecturer ID</th>
        <th class="cell100 column3">Subject ID</th>
        <th class="cell100 column4">View More</th>
      </tr>
      </thead>
    </table>
  </div>
  <div class="table100-body js-pscroll">
    <table>

      <% for (var i = 0; i < subject.length; i++) { %>
      <tbody>
      <tr class="row100 body">
        <td class="cell100 column1"><%= subject[i].subjectName %></td>
        <td class="cell100 column2"><%= subject[i].lecturer %></td>
        <td class="cell100 column3"><%= subject[i].id %></td>
       <!-- <td class="cell100 column4"><button type="button"  onclick="location.href='/lesson?id=<%= subject[i].id %>'">View More</button></td> -->
        <td class="cell100 column4"><a href="/lesson?id=<%= subject[i].id %>" class="button4" style="background-color:#f14e4e">View More</a></td>
      </tr>
      </tbody>
        <% } %>
    </table>
  </div>
</div>
    </div>
  </div>
</div>
</div>

<%- /* Expose locals as `window.SAILS_LOCALS` :: */ exposeLocalsToBrowser() %>

<!--===============================================================================================-->
<!--SCRIPTS-->
<script src="/dependencies/sails.io.js"></script>
<script src="/dependencies/lodash.js"></script>
<script src="/dependencies/jquery.min.js"></script>
<script src="/dependencies/bowser.js"></script>
<script src="/dependencies/vue.js"></script>
<script src="/dependencies/bootstrap-4/bootstrap-4.bundle.js"></script>
<script src="/dependencies/cloud.js"></script>
<script src="/dependencies/parasails.js"></script>
<script src="/js/cloud.setup.js"></script>
<script src="/js/components/ajax-button.component.js"></script>
<script src="/js/components/ajax-form.component.js"></script>
<script src="/js/components/modal.component.js"></script>
<script src="/js/utilities/open-stripe-checkout.js"></script>
<script src="/js/pages/498.page.js"></script>
<script src="/js/pages/account/account-overview.page.js"></script>
<script src="/js/pages/account/edit-password.page.js"></script>
<script src="/js/pages/account/edit-profile.page.js"></script>
<script src="/js/pages/contact.page.js"></script>
<script src="/js/pages/dashboard/welcome.page.js"></script>
<script src="/js/pages/entrance/confirmed-email.page.js"></script>
<script src="/js/pages/entrance/forgot-password.page.js"></script>
<script src="/js/pages/entrance/login.page.js"></script>
<script src="/js/pages/entrance/new-password.page.js"></script>
<script src="/js/pages/entrance/signup.page.js"></script>
<script src="/js/pages/faq.page.js"></script>
<script src="/js/pages/homepage.page.js"></script>
<script src="/js/pages/legal/privacy.page.js"></script>
<script src="/js/pages/legal/terms.page.js"></script>
<!--SCRIPTS END-->
