
<!--===============================================================================================-->
<link rel="stylesheet" href="/dependencies/bootstrap-4/bootstrap-4.css">
<link rel="stylesheet" href="/styles/importer.css">
<link rel="stylesheet" href="/dependencies/font-awesome-4/css/font-awesome.css">
<!--===============================================================================================-->

<div id="adminLesson">
  <div class="limiter">
    <div class="container-table100">
      <div class="wrap-table100">        <div class="form-group pull-left" style="padding-right: 5px">
          <label for="start">Start date:</label>
          <input class="input100" type="datetime-local" id="start" name="start" placeholder="2019-04-24T12:00:00">
        </div>
        <div class="form-group pull-left" style="padding-right: 5px">
          <label for="start">End date:</label>
          <input class="input100" type="datetime-local" id="end" name="end" placeholder="2019-04-24T12:00:00">
          <button class="contact100-form-btn" value="Submit" id="submit" onclick="SendAjax();">
						<span>
							<i class="fa fa-paper-plane-o m-r-6" aria-hidden="true"></i>
							Submit
						</span>
          </button>
        </div>
        <div class="table100 ">
          <table>
            <thead>
            <tr class="table100-head">
              <th class="cell100 column1">Date</th>
              <th class="cell100 column2">Lesson ID</th>
              <th class="cell100 column3">Subject ID</th>
              <th class="cell100 column4">View More</th>
              <th class="cell100 column5">Edit</th>
              <th class="cell100 column6">Delete</th>
            </tr>
            </thead>
            <tbody>

            <% for (var i = 0; i < lesson.length; i++) { %>
              <tr class="row100 body">
                <td class="cell100 column1"><%= lesson[i].date%></td>
                <td class="cell100 column2"><%= lesson[i].id %></td>
                <td class="cell100 column3"><%= lesson[i].subject %></td>
                <td class="cell100 column4"><a href="/admin/attendance?id=<%= lesson[i].id %>" class="button4" style="background-color:#4158d0">View More</a></td>
                <td class="cell100 column5"><a href="/admin/lesson/edit?id=<%= lesson[i].id %>" class="button4" style="background-color:#1a8cff">Edit</a></td>
                <td class="cell100 column6"><button  class="button4" style="background-color:#ff1a1a" onclick="update(this)">Delete</button></td>
              </tr>
            <% } %>
            </tbody>

          </table>
        </div>
      </div>
    </div>
  </div>
</div>
<%- /* Expose locals as `window.SAILS_LOCALS` :: */ exposeLocalsToBrowser() %>
<script>

  $('.js-pscroll').each(function(){
    var ps = new PerfectScrollbar(this);

    $(window).on('resize', function(){
      ps.update();
    })
  });
  function SendAjax() {

    let start = $("#start").val();
    let end = $("#end").val();
    var subject = <%- JSON.stringify(lesson) %>
      console.log(subject[0].subject);

    subject = subject[0].subject;
    if(start.length < 1 || end.length < 1){
      alert("Start and end dates must be selected!");
      return
    }

    window.location.href ="/admin/lesson?id="+subject+"&start="+start+"&end="+end;
  }

   function update(x) {
     var $row = $(x).closest("tr"),        // Finds the closest row <tr>
       $tds = $row.find("td:nth-child(2)"); // Finds the 3rd <td> element

     console.log(($tds).text());
     var id_value = ($tds).text();
     var csrf = window.SAILS_LOCALS._csrf;

     if (window.confirm("Do you really want to Delete this Subject")) {

       $.ajax({
         url: '/lesson/' + id_value, //Your api url
         headers: {
           'X-CSRF-TOKEN': csrf,
         },
         type: 'Delete',   //type is any HTTP method
         data: {},
         _csrf: csrf,
         //Data as js object
         success: function () {
           window.location.reload(true);
         },
         error: function () {
           console.log(window.SAILS_LOCALS._csrf);

         }
       })
       ;
     }
   }

</script>
<!--===============================================================================================-->


